@model LifeLink.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
