@model LifeLink.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />

    <center>
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <i class="fa fa-calendar fa-4x" aria-hidden="true"></i><br />
                <a href="https://localhost:44363/Appointments/Edit/2">View My Appointments</a><br /><br />
            </div>
            <div class="col-xs-4 col-sm-6">
                <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i><br />
                <a href="https://localhost:44363/Appointments/Create">Schedule An Appointment</a><br /><br />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <i class="fa fa-list-alt fa-4x" aria-hidden="true"></i><br />
                <a href="https://localhost:44363/Appointments/Details/1">My Donation History</a><br />
            </div>
            <div class="col-xs-4 col-sm-6">
                <i class="fa fa-pencil fa-4x" aria-hidden="true"></i><br />
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change My password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }

            </div>
        </div>

        <div class="row">

            <div class="col-xs-8 col-sm-6">
                <i class="fa fa-question-circle fa-4x" aria-hidden="true"></i><br />
                <a href="https://localhost:44363/Questionnaires/Create">Take or retake eligibility questionnaire</a><br /><br />
            </div>


        </div>
</center>
</div>

@*<dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>*@
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None") [
        @if (Model.PhoneNumber != null)
        {
            @Html.ActionLink("Change", "AddPhoneNumber")
            @: &nbsp;|&nbsp;
            @Html.ActionLink("Remove", "RemovePhoneNumber")
        }
        else
        {
            @Html.ActionLink("Add", "AddPhoneNumber")
        }
        ]
    </dd>
*@
@*<dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>*@
@*@if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
            </text>
        }
    }*@
@*</dd>*@
@*</dl>
    </div>*@
